md-toolbar {
    font-style: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
}

.example-card {
    margin-left: 10px;
    width: 430px;
}

.example-header-image {
    background-size: cover;
}